body {
  background-color: pink;
}

.container {
  width: 500px;
  height: 250px;
  background-color: orange;
  position: absolute;
  left: 50%;
  top: 50%;
  /* 애니메이션 함수 : div를 위치 이동시키는 함수 */
  /* 보정 : 박스의 가로/세로 크기의 반만큼 위치 이동해야 중심이 중앙에 위치함 */
  /* 사용법 : transform: translate(가로크기, 세로크기); */
  transform: translate(-50%, -50%);
}
