body {
  background-color: #02233b;
}

/* TODO: 문제 풀이 */
#container {
  width: 600px;
  height: 700px;
  /* 중앙 정렬 */
  margin: 0 auto;
  /* 외곽선 */
  border: 1px dotted gray;
  /* 안쪽여백 */
  padding: 20px;
  background-color: white;
  /* 배경이미지 */
  background-image: url("../img/mic.png");
  /* 배경이미지 반복 중지 */
  background-repeat: no-repeat;
  /* 배경이미지 위치 변경 */
  /* background-position: 가로위치 세로위치 */
  background-position: 100% 100%;
}

img {
  margin: 30px 10px 30px 180px;
}

h1 {
  background-color: #004344;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

h2 {
  text-align: center;
  font-style: italic;
  margin-bottom: 50px;
}

h3 {
  color: #cf3b00;
}

ul {
  margin: 20px;
  list-style-type: none;
}

li {
  line-height: 30px;
}
