/* id 선택자 : 기본 선택자 */
/* id 속성(공통) : 태그에 이름을 부여하는 속성(변수명), 유일(관례) */
/* name 속성(공통) : 태그에 이름을 부여하는 속성(변수명), jsp, react(서버쪽 통신)에서 사용 */
/* 코딩용어 : #(샵) */
/* 사용법)
#id 선택자{
    속성 : 값;
*/
/* px(픽셀) : 화면 화소(단위), 고정크기 */
#header{
    width : 500px;
    background: red;
}
#wrap{
    width : 300px;
}
#content{
    width : 300px;
    background: green;
}