h3 {
  color: black;
}

p {
    /* 글자색 */
  color: green;
  /* 폰트 스타일 */
  font-family :'Times New Roman', Times, serif;
  /* 글자 크기 */
  font-size: 18px;
}

span {
    /* 글자색 */
  color: blue;
  /* 굵은 글씨  */
  font-weight: bold;
  /* 밑줄 */
  text-decoration: underline;
}
