/* 글자 세로 간격 속성 */
/* line-height : 원하는 세로 간격 + %; */
p {
  /* 글자 크기 */
  font-size: 14px;
  /* 글자 새로 간격 */
  line-height: 200%;
}
/* id 선택자는 #(샵)으로 시작 */
#fly {
  color: red;
}
/* 클래스 선택자는 .(점)으로 시작 */
.blue {
  color: blue;
}
