/* 구조 선택자 */
li {
  list-style-type: none;
}

/* 2n : 짝수, 2n +1 : 홀수 */
/* 사용법 :
    선택자:nth-child(수식) {
        속성:값;
    }
*/
li:nth-child(2n) {
  /* 2진수 : 0,1 8진수 : 1 ~ 7까지, 10진수 : 1 ~ 9까지, 16진수 : 1 ~ 15까지 */
  /* 16진수 : 10(a), 11(b), 12(c), 13(d), 14(e), 15(f) */
  /* 색깔 지정 : red, (#16진수 6자리, 색상표 표기) */
  background-color: #ff0003;
}
li:nth-child(2n + 1) {
  background-color: #800000;
}
