h1 {
  font-size: 60px;
}
.heading {
  /* 화면 단위 : px(픽셀, 고정크기),
     %(부모의 크기를 물려받아 사용, 반응형 디자인) */
  /* 가로 */
  width: 100%;
  /* 세로 */
  height: 100px;
  /* 글자색 : 키워드(red,orange), #16진수, rgb(숫자,숫자,숫자) : 숫자(0~255) */
  color: rgb(255, 255, 255);
  /* 배경색(바탕색) */
  background-color: #222;
  /* 글자 정렬 */
  text-align: center;
}
