/* css 디자인 여백 초기화 */
/* 웹브라우저 (크롬,익스플로러,파이어폭스 등 */
* {
  padding: 0;
  margin: 0;
}

#banner {
  /* 외곽선 */
  border: 1px solid skyblue;
  /* 가로 */
  width: 320px;
  /* 세로 */
  height: 180px;
  /* 배경색 */
  background-color: lightpink;
  /* 안쪽여백 */
  padding: 20px;
  /* 바깥여백 - 위쪽 */
  margin-top: 20px;
  /* 바깥여백 - 왼쪽 */
  margin-left: 20px;
}

p {
  /* 바깥여백 - 위쪽 */
  margin-top: 20px;
}

#button {
  background-color: hotpink;
  font-size: 12px;
  color: white;
  width: 100px;
  /* 글자중앙정렬 */
  text-align: center;
  /* 둥근사각형(모서리) */
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}
