body {
  color: black;
}

h3 {
  border-left: 5px solid green;
  padding-left: 10px;
}

div {
  width: 610px;
  text-align: right;
}

table,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 610px;
  font-size: 12px;
  margin-top: 10px;
}

tr {
  height: 60px;
}

td {
  width: 76px;
  padding: 5px;
}
