/* 이미지를 감싸는 부모 태그 */
/* 반응형 웹 이론 : 이미지 쪽 처리 */

div {
  width: 300px;
  border: 2px solid red;
}

img {
  /* 1) % : 부모 요소를 기준으로 값을 물려받아 계산됨 */
  /* 원본을 훼손하지 않는 범위에서 줄어듬 */
  /* 2) max-width : 부모 요소를 벗어나지 않게 조정 */
  max-width: 100%;
  /* 세로 : auto(자식요소에 맞추어 자동 조정됨(컨텐츠에 맞춤) */
  height: auto;
}
